// A custom style for main page block with SPC creation info
	#main div.inner.home_creationinfo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 2.25em;

		a > span {
			display: block;
		}

		p {
			margin: 0 0 0 1em;
		}
	}
